header {
    padding: 30px;
    text-align: center;
    background: lightskyblue;
    color: #fff;
  }

h1 { 
    padding: 0px 100px 0px 0px;
    font-size: 40px;
}

nav {
    width: 100%;
    /* background-color: lightskyblue; */
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links-intro {
    list-style: none;
    display: flex;
  }

  .links a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .links:hover {
    background-color: white;
  }
  
  .links:hover a {
    color: red;
  }

  .sub-header {
    display: flex;
    justify-content: left;
    padding: 20px;
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: lightskyblue;
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    background-color: rgba(7, 7, 146, 0.075) ;
    align-items: center;
  }

  .about-me h3 { 
    display: flex;
    padding: 100px;
    font-size: 25px;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    margin: 10px;
    box-shadow: 5px 5px teal;
    /* rotate: 5deg; */
}
  /* The 0 0 300px is used to keep the picture from stretching and shrinking */
  .about-me img {
    flex: 0 0 300px;
    align-self: center;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
    padding:10px;
    margin: 10px;
    align-self: center;
    box-shadow: 5px 5px teal;
  }

  .about-me p {
    flex: 1 0 0;
    padding: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    margin: 10px;
    box-shadow: 5px 5px teal;
  }

  .work {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    background-color: rgba(7, 7, 146, 0.075) ;
    align-items: center;
  }

  .work h3 { 
    display: flex;
    padding: 100px;
    font-size: 25px;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    margin: 10px;
    box-shadow: 5px 5px teal;
    /* rotate: 5deg; */
}

.work-display {
    display: flex;
    background-color: rgba(7, 7, 146, 0) ;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.app {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 30px;
    box-shadow: 5px 10px black;
    rotate: 3deg;
  }

  .app header {
    font-weight: bold;
    font-size: 24px;
  }

  .app img {
    /* flex: 0 0 250px; */
    align-self: center;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
    padding:10px;
    margin: 10px;
    align-self: center;
    box-shadow: 5px 5px teal;
  }

  .app p {
    font-weight: bold;
    text-align: center;
  }
  