header {
    padding: 30px;
    text-align: center;
    background: lightskyblue;
    color: #fff;
  }

h1 { 
    padding: 0px 100px 0px 0px;
    font-size: 40px;
}

nav {
    width: 100%;
    /* background-color: lightskyblue; */
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links-intro {
    list-style: none;
    display: flex;
  }

  .links a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .links:hover {
    background-color: white;
  }
  
  .links:hover a {
    color: red;
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-style: solid;
    border-width: 4px;
    border-color: teal;
    background-color: rgba(7, 7, 146, 0.075) ;
    align-items: center;
  }

  .about-me h3 { 
    display: flex;
    padding: 100px;
    font-size: 25px;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    margin: 10px;
}
  /* The 0 0 300px is used to keep the picture from stretching and shrinking */
  .about-me img {
    flex: 0 0 300px;
    align-self: center;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
    padding:10px;
    margin: 10px;
    align-self: center;
  }

  .about-me p {
    flex: 1 0 0;
    padding: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    margin: 10px;
  }
  